<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시물 세부정보</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">

      <div class="contents">
        <div>
          <span th:text="${article.boardName}">게시판</span>
          <span th:text="${article.title}">제목</span>

          <div class="">
            <span th:text="${article.authorName}"></span>
            <span th:text="${#temporals.format(article.regDate,'yyyy-MM-dd')}"></span>
          </div>

          <div class="">
            <span th:text="${article.body}"></span>
          </div>
          <div class="">
            <a th:href="@{~/articles/delete/}+${article.id}">
              <span>삭제</span>
            </a>
          </div>

          <div class="">
            <a th:href="@{~/articles/modify/}+${article.id}">
              <span>수정</span>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
</html>