<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시물 세부정보</title>
  <style>
            bold{
                font-weight: bold;
            }
  </style>
</head>
<body>
  <div layout:fragment="content">
    <hr>
    <div class="container">

      <div class="contents">
        <div>
          <bold>게시판: </bold>

          <span th:text="${article.boardName}"></span>
          <hr>

          <br>
          <bold>제목  </bold>
          <bold>작성자 </bold>
          <bold>작성일 </bold>

          <br>
          <br>
          <span th:text="${article.title}"></span>



          <span th:text="${article.authorName}"></span>


          <span th:text="${#temporals.format(article.regDate,'yyyy-MM-dd')}"></span>

          <br>
          <br>
          <div class="">
            <bold>내용:   </bold>
            <span th:text="${article.body}"></span>
          </div>

          <hr>
          <div class="">
            <a th:href="@{~/articles/delete/}+${article.id}">
              <span>삭제</span>
            </a>

            <a th:href="@{~/articles/modify/}+${article.id}">
              <span>수정</span>
            </a>
          </div>


        </div>
      </div>

    </div>
  </div>
</body>
</html>