<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시물 세부정보</title>

</head>
<body>
  <div layout:fragment="content">
    <div class="container">

      <div class="contents">
        <div>
          <h3>게시판: </h3>

          <span th:text="${article.boardName}"></span>

          <br>
          <h3>제목  </h3>
          <h3>작성자 </h3>
          <h3>작성일 </h3>

          <br>

          <span th:text="${article.title}"></span>



          <span th:text="${article.authorName}"></span>


          <span th:text="${#temporals.format(article.regDate,'yyyy-MM-dd')}"></span>


          <div class="">
            <h3>내용:   </h3>
            <span th:text="${article.body}"></span>
          </div>
          <div class="">
            <a th:href="@{~/articles/delete/}+${article.id}">
              <span>삭제</span>
            </a>

            <a th:href="@{~/articles/modify/}+${article.id}">
              <span>수정</span>
            </a>
          </div>


        </div>
      </div>

    </div>
  </div>
</body>
</html>