<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>음식 커뮤니티</title>
</head>
<body>
<div layout:fragment="content">
<!--<div class="container">

    <div class="contents">

        <h1> 음식 커뮤니티 환영합니다. </h1>

        <hr>

        <a href="/members/join"> 회원가입으로 </a>
        <a href="/members/login"> 로그인으로 </a>

    </div>

</div>-->
</div>
</body>
</html>