<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">

<head>
    <meta charset="UTF-8">
    <title>음식 커뮤니티</title>
</head>
<body>
<div layout:fragment="content">
<div class="container">

    <div class="contents">
        <!--
        <table>
            <thead>
                <tr>
                    <th>게시판 번호</th>
                    <th>게시물 번호</th>
                    <th>게시물 제목</th>
               </tr>
            </thead>

            <tbody>
                <tr th:each="board: ${boardList}">
                    <td th:text="${board.name}"></td>

                </tr>
            </tbody>
        </table>
        -->

    </div>

</div>
</div>
</body>
</html>