<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시판 생성</title>



</head>
<body>
<div layout:fragment="content">

  <div class="container">

    <div class="contents">

      <form action="" th:action="@{~/admin/boards/add}" th:object="${boardSaveForm}" method="POST">

        <div class="form-item">
          <span>게시판 이름</span>
          <input name="name" type="text" th:field="*{name}" th:errorclass="field-error">  <!-- th:errorclass는 th:field에서 지정한 필드에 오류가 있으면 class 정보를 추가한다. -->
          <span th:errors="*{name}"></span>
        </div>

        <div class="form-item">
          <span>게시판 설명</span>
          <textarea name="detail"  cols="30" rows="10"  ></textarea>

          <span th:errors="*{detail}"></span>   <!--이 줄이 saveForm에서 notblank인 곳에서 공백 그대로 제출하면 notblank의 메세지를 출력하게됨 -->
        </div>

        <div class="form-item">
          <button>확인</button>
          <a href="/">
            <button type="button">취소</button>
          </a>
        </div>

      </form>

    </div>

  </div>
</div>
</body>
</html>