<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 세부정보</title>
</head>
<body>
    <div layout:fragment="content">


        <div class="container">
            <div class="content">

                <div class="">
                    <th>게시판 이름: </th>
                    <span th:text="${board.name}"></span>
                </div>

                <div class="">
                    <a th:href="@{~/boards/} + ${board.id} + @{/articles/write}">
                        <span>게시글 작성</span>
                    </a>
                </div>

                <div class="search-container">
                    <form th:action="@{~/boards/}+${board.id}+@{?page=}+${currentPage}" method="GET">
                        <input type="hidden" name="page" value="1">
                        <input type="text" name="searchKeyword" th:value="${keyword}">
                        <button>검색</button>
                    </form>

                </div>

                <table>
                    <thead>
                        <tr>

                            <th>
                                게시글 번호
                            </th>

                            <th>게시글 제목</th>
                            <th>게시글 작성자</th>
                        </tr>
                    </thead>
                    <tbody>
                        <th:block th:if="${articles.size()!=0}">
                            <tr th:each="article : ${articles}">
                                <td>
                                    <span th:text="${article.id}"></span>
                                </td>
                                <td>
                                    <a th:href="@{~/articles/} + ${article.id}">
                                        <span th:text="${article.title}"></span>
                                    </a>
                                </td>
                                <td>
                                    <span th:text="${article.nickname}"></span>

                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${articles.size()!=0}">
                            <tr>
                                <td>
                                    <span>검색 결과가 없습니다.</span>
                                </td>
                            </tr>
                        </th:block>
                    </tbody>

                </table>
            </div>

            <div class="page-container">  <!--th:with은 변수이름을 지정해서 값을 넣어주도록함 -->
                <th:block th:if="${articles.size()!=0}">
                    <th:block th:each="i: ${#numbers.sequence(1,maxPage)}">
                        <a th:if="${keyword.equals('')}" th:href="@{~/boards/}+${board.id}+@{?page=}+${i}" th:text="${i}"></a>
                        <a th:unless="${keyword.equals('')}" th:href="@{~/boards/}+${board.id}+@{?page=}+${i} +@{&searchKeyword=}+${keyword}" th:text="${i}"></a>
                    </th:block>
                </th:block>
                <th:block th:unless="${articles.size()!=0}">
                    <a th:href="@{~/boards/}+${board.id}+@{?page=}+1" th:text="1"></a>  <!-- 검색한것이 없거나 결과가 없으면 무조건 1페이지만을 나타나게-->

                </th:block>
            </div>

        </div>
    </div>
</body>
</html>




















