<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시판 관리</title>



</head>
<body>
<div layout:fragment="content">

    <div class="">

        <div class="">
            <a th:href="@{~/admin/boards/add}">
                <span>생성</span>
            </a>
        </div>
        <table>
            <thead>
            <tr>
                <th>게시판 번호 </th>

                <th>게시판 이름</th>

                <th>게시판 설명</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="board: ${boards}">
                <td th:text="${board.boardId}"></td>
                <td th:text="${board.name}"></td>
                <td th:text="${board.detail}"></td>
                <td>
                    <a th:href="@{~/admin/boards/modify/}+${board.boardId}">
                        <span>수정</span>
                    </a>
                </td>
                <td>
                    <a th:href="@{~/admin/boards/delete/}+${board.boardId}">
                        <span>삭제</span>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>


</div>

</body>
</html>