<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>게시판 상세보기</title>
</head>
<body>
  <div layout:fragment="content">
    <div class="container">
      
      <div class="contents">
        <form action="" th:action="@{~/admin/boards/modify/} +${boardId}" th:object="${boardModifyForm}" method="POST">

          <div class="form-item">
            <span>게시판 이름</span>
            <input type="text" name="name" th:field="*{name}" th:errorclass="field-error">  <!-- th:value는 수정되기 전의 게시판의 이름이 화면에 뜨게됨-->
            <span th:errors="*{name}"></span>
          </div>

          <div class="form-item">

            <span>게시판 설명</span>
            <input type="text" name="detail" th:field="*{detail}">
          </div>

          <div class="form-item">

            <button>수정</button>
            <a href="/">
              <button type="button">취소</button>
            </a>
          </div>

        </form>
      </div>
    </div>
  </div>

</body>
</html>